secrets/
*MNIST/
*egg-info/
.log
.ftpconfig
*.pyc
*.pyd
*~
.idea
.cache
.ipynb_checkpoints
*.tar
*.h5
*.env
*.pt
*.pickle
*.npy
*.png
*.jpg
*.gif
.vscode
.env
.env*
*.env
.env_pipeline
.env/
logs/
*.sif
data/