secrets/
*MNIST/
*egg-info/
.log
.ftpconfig
*.pyc
*.pyd
*~
.idea
.cache
.ipynb_checkpoints
*.tar
*.h5
*.env
*.pickle
*.npy
*.jpg
*.gif
.vscode
.env
.env*
*.env
.env_pipeline
.env/
logs/
*.sif
*.zip
*.json
*.log
*.csv
notebooks/data
notebooks/lurz2020